
.header-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey);
    padding:1rem 0 1rem 2rem; 
    position: fixed;
    width: 100%;
    top: 0;
}

.home-link{
    text-decoration: none;
    color:var(--white);
    font-weight: bolder;
    font-size: larger;
}

.add-post-logo:hover {
    background-color:var(--hover);
   
  }

.add-post-logo{
    height: 1.7rem;
    width: 1.7rem;
    border-color: 1rem solid var(--black) ;
}

.header-right{
    padding-right: 4rem;
}