

.header-box{
    padding-top: 50px;
    padding-left: 30px;
    height: 100px;
    text-align: left;
    font-size: xx-large;
    background-color: grey;
}

.home-link{
    text-decoration: none;
    color:white;
    font-weight: bolder;
}