
.footer-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey);
    padding:1rem 0 1rem 2rem; 
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-left{
    display:flex;
    gap:2rem
}
.footer-right{
    padding-right: 4rem;
}
.contact-link{
    text-decoration: none;
    color: var(--white);
    font-weight: bold;
}
.about-link{
    text-decoration: none;
    color:var(--white);
    font-weight: bold;
}

.copyright-claim{
    text-align: center;
    color:var(--white);
    font-style: italic;
}