
.footer-box{
    padding-top: 30px;
    padding-left: 30px;
    height: 100px;
    align-items: end;
    text-align: start;
    font-size: larger;
    background-color: grey;
}
.contact-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.about-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.copyright-claim{
    text-align: center;
    color: white;
    font-style: italic;
}