.blog-details-page{
    height: 84vh;
    top: 6rem;
    left: 0;
    position: fixed;
    padding:0 2rem;
    overflow-y: scroll;
}

.blog-details-page hr{
    border-top: 0.188rem dotted rgb(16, 17, 19);
    height: 0.188rem;
   }

.blog-author-with-delete-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-author-with-delete-icon button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.blog-author-with-delete-icon button :hover{
    color: var(--red);
}

.blog-link{
    width: 100%;
}

.comments{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding:0 1rem;
    border: 0.125rem solid var(--grey);
    border-radius: 0.5rem;
    width: 56rem;
    background-color: var(--background-color-comments);
    min-height: 10rem;
    padding: 1.5rem;
}

.comments h4{
    border-bottom: 0.125rem solid var(--grey);
    margin-top: 0;
    margin-bottom: 0;
}

.comment h6,p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
}
.comment p{
    font-size: 0.875rem;
}

.commment{
    padding-left: 1rem;
}
