.blog-card {
  width: 15.5rem;
  height: 12.5rem;
  text-align: center;
  background-color:var(--offwhite);
  margin: 0.625rem;
  padding: 1.25rem;
  border-radius: 1rem;
  box-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.blog-card:hover {
  width: 15.5rem;
  height: 12.5rem;
  text-align: center;
  background-color:var(--hover);

}

h1{
  margin: 0;
}

.blog-link{
  text-decoration: none;
  color: var(--black);
}

.blog-title{
  margin-top: 2rem;
  height: 5rem;
  overflow: hidden;
}

.blog-description {
  margin-top: 2rem;
  white-space:nowrap; 
  height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.delete-icon{
  display: flex;
  justify-content: center;
}

.delete-icon button{
  background: none;
color: inherit;
border: none;
padding: 0;
font: inherit;
cursor: pointer;
outline: inherit;
}

.delete-icon button :hover{
  color: var(--red);
}


