
.home-page {
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  margin-top:4rem;
  margin-bottom: 8rem;
  position: fixed;
  height: 100%;
  width: 100%;
}

.home-page-search{
  position: relative;
  float: none;

}

.home-page-blogs{
margin-top: 1.5rem;
display: flex;
justify-content: center;
flex-wrap: wrap;
overflow-y: scroll;
 
}
.home-page-eror {
  justify-content: center;
  font-size: larger;
  font-weight: bold;
  color: var(--red);
}
.loader {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 20px;
  border-radius: 5px;
}
