.home-page {
  overflow-x: hidden;
  top: 6rem;
  position: fixed;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.home-page-blogs{
  display: grid;
  grid-template-columns: 24rem 24rem 24rem 24rem ;
  grid-row-gap: 2rem;
  grid-column-gap:2rem;
}